# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [31]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\rdesh\anaconda3\envs\dev\lib\site-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in c:\users\rdesh\anaconda3\envs\dev\lib\site-packages (from pandasql) (2.2.1)
Requirement already satisfied: sqlalchemy in c:\users\rdesh\anaconda3\envs\dev\lib\site-packages (from pandasql) (2.0.25)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rdesh\anaconda3\envs\dev\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rdesh\anaconda3\envs\dev\lib\site-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rdesh\anaconda3\envs\dev\lib\site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rdesh\anaconda3\envs\dev\lib\site-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rdesh\anaconda3\envs\dev\lib\site-packages (from sqlalchemy->pandasql) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\rdesh\anaconda3\envs\dev\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26801 sha256=8929b34c488c584c310596fab3aa714d8ad088a5184139ab0c0cd6b6c638eceb
  Stored in directory: c:\users\rdesh\appdata\local\pip\cache\wheels\63\e8\ec\75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [32]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd
from pandasql import sqldf

In [3]:
browser = Browser('chrome')

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [4]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [5]:
# Create a Beautiful Soup Object
html = browser.html

soup = BeautifulSoup(html, "html.parser")

In [6]:
# Extract all rows of data
all_data = soup.find_all(class_='data-row')
all_data

[<tr class="data-row">
 <td>2</td>
 <td>2012-08-16</td>
 <td>10</td>
 <td>155</td>
 <td>6</td>
 <td>-75.0</td>
 <td>739.0</td>
 </tr>,
 <tr class="data-row">
 <td>13</td>
 <td>2012-08-17</td>
 <td>11</td>
 <td>156</td>
 <td>6</td>
 <td>-76.0</td>
 <td>740.0</td>
 </tr>,
 <tr class="data-row">
 <td>24</td>
 <td>2012-08-18</td>
 <td>12</td>
 <td>156</td>
 <td>6</td>
 <td>-76.0</td>
 <td>741.0</td>
 </tr>,
 <tr class="data-row">
 <td>35</td>
 <td>2012-08-19</td>
 <td>13</td>
 <td>157</td>
 <td>6</td>
 <td>-74.0</td>
 <td>732.0</td>
 </tr>,
 <tr class="data-row">
 <td>46</td>
 <td>2012-08-20</td>
 <td>14</td>
 <td>157</td>
 <td>6</td>
 <td>-74.0</td>
 <td>740.0</td>
 </tr>,
 <tr class="data-row">
 <td>57</td>
 <td>2012-08-21</td>
 <td>15</td>
 <td>158</td>
 <td>6</td>
 <td>-78.0</td>
 <td>740.0</td>
 </tr>,
 <tr class="data-row">
 <td>68</td>
 <td>2012-08-22</td>
 <td>16</td>
 <td>158</td>
 <td>6</td>
 <td>-77.0</td>
 <td>740.0</td>
 </tr>,
 <tr class="data-row">
 <td>79</td>
 <td>2012-08-23</td>
 <td>17</td>
 <td>159</td>
 <td>6</td>
 <td>-76.0</td>
 <td>742.0</td>
 </tr>,
 <tr class="data-row">
 <td>112</td>
 <td>2012-08-27</td>
 <td>21</td>
 <td>161</td>
 <td>6</td>
 <td>-74.0</td>
 <td>741.0</td>
 </tr>,
 <tr class="data-row">
 <td>114</td>
 <td>2012-08-28</td>
 <td>22</td>
 <td>162</td>
 <td>6</td>
 <td>-74.0</td>
 <td>742.0</td>
 </tr>,
 <tr class="data-row">
 <td>123</td>
 <td>2012-08-29</td>
 <td>23</td>
 <td>162</td>
 <td>6</td>
 <td>-75.0</td>
 <td>741.0</td>
 </tr>,
 <tr class="data-row">
 <td>134</td>
 <td>2012-08-30</td>
 <td>24</td>
 <td>163</td>
 <td>6</td>
 <td>-75.0</td>
 <td>742.0</td>
 </tr>,
 <tr class="data-row">
 <td>145</td>
 <td>2012-08-31</td>
 <td>25</td>
 <td>163</td>
 <td>6</td>
 <td>-75.0</td>
 <td>743.0</td>
 </tr>,
 <tr class="data-row">
 <td>156</td>
 <td>2012-09-01</td>
 <td>26</td>
 <td>164</td>
 <td>6</td>
 <td>-76.0</td>
 <td>745.0</td>
 </tr>,
 <tr class="data-row">
 <td>163</td>
 <td>2012-09-02</td>
 <td>27</td>
 <td>164</td>
 <td>6</td>
 <td>-75.0</td>
 <td>743.0</td>
 </tr>,
 <tr class="data-row">
 <td>170</td>
 <td>2012-09-03</td>
 <td>28</td>
 <td>165</td>
 <td>6</td>
 <td>-75.0</td>
 <td>745.0</td>
 </tr>,
 <tr class="data-row">
 <td>171</td>
 <td>2012-09-04</td>
 <td>29</td>
 <td>166</td>
 <td>6</td>
 <td>-75.0</td>
 <td>747.0</td>
 </tr>,
 <tr class="data-row">
 <td>172</td>
 <td>2012-09-05</td>
 <td>30</td>
 <td>166</td>
 <td>6</td>
 <td>-74.0</td>
 <td>747.0</td>
 </tr>,
 <tr class="data-row">
 <td>173</td>
 <td>2012-09-06</td>
 <td>31</td>
 <td>167</td>
 <td>6</td>
 <td>-74.0</td>
 <td>745.0</td>
 </tr>,
 <tr class="data-row">
 <td>175</td>
 <td>2012-09-08</td>
 <td>33</td>
 <td>168</td>
 <td>6</td>
 <td>-73.0</td>
 <td>748.0</td>
 </tr>,
 <tr class="data-row">
 <td>176</td>
 <td>2012-09-10</td>
 <td>34</td>
 <td>168</td>
 <td>6</td>
 <td>-73.0</td>
 <td>748.0</td>
 </tr>,
 <tr class="data-row">
 <td>177</td>
 <td>2012-09-11</td>
 <td>35</td>
 <td>169</td>
 <td>6</td>
 <td>-73.0</td>
 <td>749.0</td>
 </tr>,
 <tr class="data-row">
 <td>178</td>
 <td>2012-09-12</td>
 <td>36</td>
 <td>169</td>
 <td>6</td>
 <td>-73.0</td>
 <td>750.0</td>
 </tr>,
 <tr class="data-row">
 <td>179</td>
 <td>2012-09-13</td>
 <td>37</td>
 <td>170</td>
 <td>6</td>
 <td>-73.0</td>
 <td>750.0</td>
 </tr>,
 <tr class="data-row">
 <td>180</td>
 <td>2012-09-14</td>
 <td>38</td>
 <td>171</td>
 <td>6</td>
 <td>-73.0</td>
 <td>750.0</td>
 </tr>,
 <tr class="data-row">
 <td>181</td>
 <td>2012-09-15</td>
 <td>39</td>
 <td>171</td>
 <td>6</td>
 <td>-75.0</td>
 <td>751.0</td>
 </tr>,
 <tr class="data-row">
 <td>182</td>
 <td>2012-09-16</td>
 <td>40</td>
 <td>172</td>
 <td>6</td>
 <td>-75.0</td>
 <td>753.0</td>
 </tr>,
 <tr class="data-row">
 <td>183</td>
 <td>2012-09-17</td>
 <td>41</td>
 <td>172</td>
 <td>6</td>
 <td>-75.0</td>
 <td>753.0</td>
 </tr>,
 <tr class="data-row">
 <td>184</td>
 <td>2012-09-18</td>
 <td>42</td>
 <td>173</td>
 <td>6</td>
 <td>-75.0</td>
 <td>754.0</td>
 </tr>,
 <tr class="data-row">
 <td>185</td>
 <td>2012-09-19</td>
 <td>43</td>
 <td>173</td>
 <td>6</td>
 <td>-74.0</td>
 <td>756.0</td>
 </tr>,
 <tr class="data-row">
 <td>186</td>
 <td>2012-09-20</td>
 <td>44</td>
 <td>174</td>
 <td>6</td>
 <td>-75.0</td>
 <td>757.0</td>
 </tr>,
 <tr class="data-row">
 <td>187</td>
 <td>2012-09-21</td>
 <td>45</td>
 <td>175</td>
 <td>6</td>
 <td>-74.0</td>
 <td>758.0</td>
 </tr>,
 <tr class="data-row">
 <td>188</td>
 <td>2012-09-22</td>
 <td>46</td>
 <td>175</td>
 <td>6</td>
 <td>-74.0</td>
 <td>758.0</td>
 </tr>,
 <tr class="data-row">
 <td>189</td>
 <td>2012-09-23</td>
 <td>47</td>
 <td>176</td>
 <td>6</td>
 <td>-75.0</td>
 <td>758.0</td>
 </tr>,
 <tr class="data-row">
 <td>190</td>
 <td>2012-09-24</td>
 <td>48</td>
 <td>176</td>
 <td>6</td>
 <td>-75.0</td>
 <td>759.0</td>
 </tr>,
 <tr class="data-row">
 <td>191</td>
 <td>2012-09-25</td>
 <td>49</td>
 <td>177</td>
 <td>6</td>
 <td>-74.0</td>
 <td>761.0</td>
 </tr>,
 <tr class="data-row">
 <td>192</td>
 <td>2012-09-26</td>
 <td>50</td>
 <td>177</td>
 <td>6</td>
 <td>-72.0</td>
 <td>761.0</td>
 </tr>,
 <tr class="data-row">
 <td>193</td>
 <td>2012-09-27</td>
 <td>51</td>
 <td>178</td>
 <td>6</td>
 <td>-76.0</td>
 <td>762.0</td>
 </tr>,
 <tr class="data-row">
 <td>194</td>
 <td>2012-09-28</td>
 <td>52</td>
 <td>179</td>
 <td>6</td>
 <td>-74.0</td>
 <td>762.0</td>
 </tr>,
 <tr class="data-row">
 <td>195</td>
 <td>2012-09-29</td>
 <td>53</td>
 <td>179</td>
 <td>6</td>
 <td>-71.0</td>
 <td>764.0</td>
 </tr>,
 <tr class="data-row">
 <td>196</td>
 <td>2012-09-30</td>
 <td>54</td>
 <td>180</td>
 <td>7</td>
 <td>-72.0</td>
 <td>766.0</td>
 </tr>,
 <tr class="data-row">
 <td>197</td>
 <td>2012-10-01</td>
 <td>55</td>
 <td>180</td>
 <td>7</td>
 <td>-74.0</td>
 <td>766.0</td>
 </tr>,
 <tr class="data-row">
 <td>198</td>
 <td>2012-10-02</td>
 <td>56</td>
 <td>181</td>
 <td>7</td>
 <td>-73.0</td>
 <td>768.0</td>
 </tr>,
 <tr class="data-row">
 <td>199</td>
 <td>2012-10-03</td>
 <td>57</td>
 <td>181</td>
 <td>7</td>
 <td>-73.0</td>
 <td>769.0</td>
 </tr>,
 <tr class="data-row">
 <td>200</td>
 <td>2012-10-04</td>
 <td>58</td>
 <td>182</td>
 <td>7</td>
 <td>-74.0</td>
 <td>769.0</td>
 </tr>,
 <tr class="data-row">
 <td>201</td>
 <td>2012-10-05</td>
 <td>59</td>
 <td>183</td>
 <td>7</td>
 <td>-76.0</td>
 <td>771.0</td>
 </tr>,
 <tr class="data-row">
 <td>202</td>
 <td>2012-10-06</td>
 <td>60</td>
 <td>183</td>
 <td>7</td>
 <td>-75.0</td>
 <td>772.0</td>
 </tr>,
 <tr class="data-row">
 <td>203</td>
 <td>2012-10-07</td>
 <td>61</td>
 <td>184</td>
 <td>7</td>
 <td>-72.0</td>
 <td>772.0</td>
 </tr>,
 <tr class="data-row">
 <td>204</td>
 <td>2012-10-08</td>
 <td>62</td>
 <td>184</td>
 <td>7</td>
 <td>-72.0</td>
 <td>774.0</td>
 </tr>,
 <tr class="data-row">
 <td>205</td>
 <td>2012-10-09</td>
 <td>63</td>
 <td>185</td>
 <td>7</td>
 <td>-73.0</td>
 <td>775.0</td>
 </tr>,
 <tr class="data-row">
 <td>206</td>
 <td>2012-10-10</td>
 <td>64</td>
 <td>186</td>
 <td>7</td>
 <td>-74.0</td>
 <td>776.0</td>
 </tr>,
 <tr class="data-row">
 <td>207</td>
 <td>2012-10-11</td>
 <td>65</td>
 <td>186</td>
 <td>7</td>
 <td>-72.0</td>
 <td>777.0</td>
 </tr>,
 <tr class="data-row">
 <td>208</td>
 <td>2012-10-12</td>
 <td>66</td>
 <td>187</td>
 <td>7</td>
 <td>-73.0</td>
 <td>778.0</td>
 </tr>,
 <tr class="data-row">
 <td>209</td>
 <td>2012-10-13</td>
 <td>67</td>
 <td>187</td>
 <td>7</td>
 <td>-73.0</td>
 <td>780.0</td>
 </tr>,
 <tr class="data-row">
 <td>210</td>
 <td>2012-10-14</td>
 <td>68</td>
 <td>188</td>
 <td>7</td>
 <td>-71.0</td>
 <td>781.0</td>
 </tr>,
 <tr class="data-row">
 <td>211</td>
 <td>2012-10-15</td>
 <td>69</td>
 <td>189</td>
 <td>7</td>
 <td>-73.0</td>
 <td>778.0</td>
 </tr>,
 <tr class="data-row">
 <td>212</td>
 <td>2012-10-17</td>
 <td>70</td>
 <td>189</td>
 <td>7</td>
 <td>-72.0</td>
 <td>783.0</td>
 </tr>,
 <tr class="data-row">
 <td>213</td>
 <td>2012-10-18</td>
 <td>71</td>
 <td>190</td>
 <td>7</td>
 <td>-71.0</td>
 <td>784.0</td>
 </tr>,
 <tr class="data-row">
 <td>214</td>
 <td>2012-10-19</td>
 <td>72</td>
 <td>190</td>
 <td>7</td>
 <td>-73.0</td>
 <td>785.0</td>
 </tr>,
 <tr class="data-row">
 <td>215</td>
 <td>2012-10-20</td>
 <td>73</td>
 <td>191</td>
 <td>7</td>
 <td>-70.0</td>
 <td>788.0</td>
 </tr>,
 <tr class="data-row">
 <td>216</td>
 <td>2012-10-21</td>
 <td>74</td>
 <td>192</td>
 <td>7</td>
 <td>-72.0</td>
 <td>790.0</td>
 </tr>,
 <tr class="data-row">
 <td>217</td>
 <td>2012-10-22</td>
 <td>75</td>
 <td>192</td>
 <td>7</td>
 <td>-73.0</td>
 <td>791.0</td>
 </tr>,
 <tr class="data-row">
 <td>218</td>
 <td>2012-10-23</td>
 <td>76</td>
 <td>193</td>
 <td>7</td>
 <td>-73.0</td>
 <td>792.0</td>
 </tr>,
 <tr class="data-row">
 <td>219</td>
 <td>2012-10-24</td>
 <td>77</td>
 <td>193</td>
 <td>7</td>
 <td>-71.0</td>
 <td>792.0</td>
 </tr>,
 <tr class="data-row">
 <td>220</td>
 <td>2012-10-25</td>
 <td>78</td>
 <td>194</td>
 <td>7</td>
 <td>-71.0</td>
 <td>793.0</td>
 </tr>,
 <tr class="data-row">
 <td>221</td>
 <td>2012-10-26</td>
 <td>79</td>
 <td>195</td>
 <td>7</td>
 <td>-73.0</td>
 <td>795.0</td>
 </tr>,
 <tr class="data-row">
 <td>222</td>
 <td>2012-10-27</td>
 <td>80</td>
 <td>195</td>
 <td>7</td>
 <td>-70.0</td>
 <td>796.0</td>
 </tr>,
 <tr class="data-row">
 <td>223</td>
 <td>2012-10-28</td>
 <td>81</td>
 <td>196</td>
 <td>7</td>
 <td>-72.0</td>
 <td>798.0</td>
 </tr>,
 <tr class="data-row">
 <td>224</td>
 <td>2012-10-29</td>
 <td>82</td>
 <td>196</td>
 <td>7</td>
 <td>-72.0</td>
 <td>799.0</td>
 </tr>,
 <tr class="data-row">
 <td>225</td>
 <td>2012-10-30</td>
 <td>83</td>
 <td>197</td>
 <td>7</td>
 <td>-72.0</td>
 <td>801.0</td>
 </tr>,
 <tr class="data-row">
 <td>226</td>
 <td>2012-10-31</td>
 <td>84</td>
 <td>198</td>
 <td>7</td>
 <td>-70.0</td>
 <td>801.0</td>
 </tr>,
 <tr class="data-row">
 <td>227</td>
 <td>2012-11-01</td>
 <td>85</td>
 <td>198</td>
 <td>7</td>
 <td>-71.0</td>
 <td>805.0</td>
 </tr>,
 <tr class="data-row">
 <td>228</td>
 <td>2012-11-02</td>
 <td>86</td>
 <td>199</td>
 <td>7</td>
 <td>-71.0</td>
 <td>808.0</td>
 </tr>,
 <tr class="data-row">
 <td>229</td>
 <td>2012-11-03</td>
 <td>87</td>
 <td>199</td>
 <td>7</td>
 <td>-70.0</td>
 <td>808.0</td>
 </tr>,
 <tr class="data-row">
 <td>230</td>
 <td>2012-11-04</td>
 <td>88</td>
 <td>200</td>
 <td>7</td>
 <td>-70.0</td>
 <td>811.0</td>
 </tr>,
 <tr class="data-row">
 <td>231</td>
 <td>2012-11-05</td>
 <td>89</td>
 <td>201</td>
 <td>7</td>
 <td>-73.0</td>
 <td>813.0</td>
 </tr>,
 <tr class="data-row">
 <td>233</td>
 <td>2012-11-06</td>
 <td>90</td>
 <td>201</td>
 <td>7</td>
 <td>-71.0</td>
 <td>813.0</td>
 </tr>,
 <tr class="data-row">
 <td>234</td>
 <td>2012-11-07</td>
 <td>91</td>
 <td>202</td>
 <td>7</td>
 <td>-74.0</td>
 <td>817.0</td>
 </tr>,
 <tr class="data-row">
 <td>235</td>
 <td>2012-11-08</td>
 <td>92</td>
 <td>202</td>
 <td>7</td>
 <td>-74.0</td>
 <td>820.0</td>
 </tr>,
 <tr class="data-row">
 <td>236</td>
 <td>2012-11-09</td>
 <td>93</td>
 <td>203</td>
 <td>7</td>
 <td>-72.0</td>
 <td>819.0</td>
 </tr>,
 <tr class="data-row">
 <td>237</td>
 <td>2012-11-10</td>
 <td>94</td>
 <td>204</td>
 <td>7</td>
 <td>-70.0</td>
 <td>822.0</td>
 </tr>,
 <tr class="data-row">
 <td>238</td>
 <td>2012-11-11</td>
 <td>95</td>
 <td>204</td>
 <td>7</td>
 <td>-68.0</td>
 <td>822.0</td>
 </tr>,
 <tr class="data-row">
 <td>239</td>
 <td>2012-11-12</td>
 <td>96</td>
 <td>205</td>
 <td>7</td>
 <td>-71.0</td>
 <td>826.0</td>
 </tr>,
 <tr class="data-row">
 <td>240</td>
 <td>2012-11-13</td>
 <td>97</td>
 <td>206</td>
 <td>7</td>
 <td>-68.0</td>
 <td>828.0</td>
 </tr>,
 <tr class="data-row">
 <td>241</td>
 <td>2012-11-14</td>
 <td>98</td>
 <td>206</td>
 <td>7</td>
 <td>-68.0</td>
 <td>828.0</td>
 </tr>,
 <tr class="data-row">
 <td>242</td>
 <td>2012-11-15</td>
 <td>99</td>
 <td>207</td>
 <td>7</td>
 <td>-68.0</td>
 <td>829.0</td>
 </tr>,
 <tr class="data-row">
 <td>3</td>
 <td>2012-11-16</td>
 <td>100</td>
 <td>207</td>
 <td>7</td>
 <td>-66.0</td>
 <td>829.0</td>
 </tr>,
 <tr class="data-row">
 <td>4</td>
 <td>2012-11-17</td>
 <td>101</td>
 <td>208</td>
 <td>7</td>
 <td>-65.0</td>
 <td>830.0</td>
 </tr>,
 <tr class="data-row">
 <td>5</td>
 <td>2012-11-18</td>
 <td>102</td>
 <td>209</td>
 <td>7</td>
 <td>-67.0</td>
 <td>833.0</td>
 </tr>,
 <tr class="data-row">
 <td>6</td>
 <td>2012-11-19</td>
 <td>103</td>
 <td>209</td>
 <td>7</td>
 <td>-66.0</td>
 <td>836.0</td>
 </tr>,
 <tr class="data-row">
 <td>7</td>
 <td>2012-11-20</td>
 <td>104</td>
 <td>210</td>
 <td>8</td>
 <td>-67.0</td>
 <td>838.0</td>
 </tr>,
 <tr class="data-row">
 <td>8</td>
 <td>2012-11-21</td>
 <td>105</td>
 <td>211</td>
 <td>8</td>
 <td>-66.0</td>
 <td>839.0</td>
 </tr>,
 <tr class="data-row">
 <td>9</td>
 <td>2012-11-23</td>
 <td>106</td>
 <td>211</td>
 <td>8</td>
 <td>-66.0</td>
 <td>841.0</td>
 </tr>,
 <tr class="data-row">
 <td>10</td>
 <td>2012-11-24</td>
 <td>107</td>
 <td>212</td>
 <td>8</td>
 <td>-66.0</td>
 <td>844.0</td>
 </tr>,
 <tr class="data-row">
 <td>11</td>
 <td>2012-11-25</td>
 <td>108</td>
 <td>212</td>
 <td>8</td>
 <td>-65.0</td>
 <td>845.0</td>
 </tr>,
 <tr class="data-row">
 <td>12</td>
 <td>2012-11-26</td>
 <td>109</td>
 <td>213</td>
 <td>8</td>
 <td>-64.0</td>
 <td>844.0</td>
 </tr>,
 <tr class="data-row">
 <td>14</td>
 <td>2012-11-27</td>
 <td>110</td>
 <td>214</td>
 <td>8</td>
 <td>-65.0</td>
 <td>848.0</td>
 </tr>,
 <tr class="data-row">
 <td>15</td>
 <td>2012-11-28</td>
 <td>111</td>
 <td>214</td>
 <td>8</td>
 <td>-66.0</td>
 <td>849.0</td>
 </tr>,
 <tr class="data-row">
 <td>16</td>
 <td>2012-11-29</td>
 <td>112</td>
 <td>215</td>
 <td>8</td>
 <td>-65.0</td>
 <td>852.0</td>
 </tr>,
 <tr class="data-row">
 <td>17</td>
 <td>2012-11-30</td>
 <td>113</td>
 <td>216</td>
 <td>8</td>
 <td>-66.0</td>
 <td>857.0</td>
 </tr>,
 <tr class="data-row">
 <td>18</td>
 <td>2012-12-01</td>
 <td>114</td>
 <td>216</td>
 <td>8</td>
 <td>-69.0</td>
 <td>857.0</td>
 </tr>,
 <tr class="data-row">
 <td>19</td>
 <td>2012-12-02</td>
 <td>115</td>
 <td>217</td>
 <td>8</td>
 <td>-66.0</td>
 <td>857.0</td>
 </tr>,
 <tr class="data-row">
 <td>20</td>
 <td>2012-12-03</td>
 <td>116</td>
 <td>217</td>
 <td>8</td>
 <td>-67.0</td>
 <td>859.0</td>
 </tr>,
 <tr class="data-row">
 <td>21</td>
 <td>2012-12-04</td>
 <td>117</td>
 <td>218</td>
 <td>8</td>
 <td>-66.0</td>
 <td>861.0</td>
 </tr>,
 <tr class="data-row">
 <td>22</td>
 <td>2012-12-05</td>
 <td>118</td>
 <td>219</td>
 <td>8</td>
 <td>-65.0</td>
 <td>864.0</td>
 </tr>,
 <tr class="data-row">
 <td>23</td>
 <td>2012-12-06</td>
 <td>119</td>
 <td>219</td>
 <td>8</td>
 <td>-66.0</td>
 <td>866.0</td>
 </tr>,
 <tr class="data-row">
 <td>25</td>
 <td>2012-12-07</td>
 <td>120</td>
 <td>220</td>
 <td>8</td>
 <td>-67.0</td>
 <td>867.0</td>
 </tr>,
 <tr class="data-row">
 <td>26</td>
 <td>2012-12-08</td>
 <td>121</td>
 <td>221</td>
 <td>8</td>
 <td>-66.0</td>
 <td>869.0</td>
 </tr>,
 <tr class="data-row">
 <td>27</td>
 <td>2012-12-09</td>
 <td>122</td>
 <td>221</td>
 <td>8</td>
 <td>-65.0</td>
 <td>869.0</td>
 </tr>,
 <tr class="data-row">
 <td>28</td>
 <td>2012-12-10</td>
 <td>123</td>
 <td>222</td>
 <td>8</td>
 <td>-66.0</td>
 <td>875.0</td>
 </tr>,
 <tr class="data-row">
 <td>29</td>
 <td>2012-12-11</td>
 <td>124</td>
 <td>223</td>
 <td>8</td>
 <td>-66.0</td>
 <td>876.0</td>
 </tr>,
 <tr class="data-row">
 <td>30</td>
 <td>2012-12-12</td>
 <td>125</td>
 <td>223</td>
 <td>8</td>
 <td>-68.0</td>
 <td>880.0</td>
 </tr>,
 <tr class="data-row">
 <td>31</td>
 <td>2012-12-13</td>
 <td>126</td>
 <td>224</td>
 <td>8</td>
 <td>-66.0</td>
 <td>880.0</td>
 </tr>,
 <tr class="data-row">
 <td>32</td>
 <td>2012-12-14</td>
 <td>127</td>
 <td>224</td>
 <td>8</td>
 <td>-67.0</td>
 <td>884.0</td>
 </tr>,
 <tr class="data-row">
 <td>33</td>
 <td>2012-12-15</td>
 <td>128</td>
 <td>225</td>
 <td>8</td>
 <td>-67.0</td>
 <td>883.0</td>
 </tr>,
 <tr class="data-row">
 <td>34</td>
 <td>2012-12-16</td>
 <td>129</td>
 <td>226</td>
 <td>8</td>
 <td>-65.0</td>
 <td>886.0</td>
 </tr>,
 <tr class="data-row">
 <td>36</td>
 <td>2012-12-17</td>
 <td>130</td>
 <td>226</td>
 <td>8</td>
 <td>-65.0</td>
 <td>888.0</td>
 </tr>,
 <tr class="data-row">
 <td>37</td>
 <td>2012-12-18</td>
 <td>131</td>
 <td>227</td>
 <td>8</td>
 <td>-65.0</td>
 <td>889.0</td>
 </tr>,
 <tr class="data-row">
 <td>38</td>
 <td>2012-12-19</td>
 <td>132</td>
 <td>228</td>
 <td>8</td>
 <td>-65.0</td>
 <td>890.0</td>
 </tr>,
 <tr class="data-row">
 <td>39</td>
 <td>2012-12-20</td>
 <td>133</td>
 <td>228</td>
 <td>8</td>
 <td>-65.0</td>
 <td>891.0</td>
 </tr>,
 <tr class="data-row">
 <td>40</td>
 <td>2012-12-21</td>
 <td>134</td>
 <td>229</td>
 <td>8</td>
 <td>-67.0</td>
 <td>893.0</td>
 </tr>,
 <tr class="data-row">
 <td>41</td>
 <td>2012-12-22</td>
 <td>135</td>
 <td>230</td>
 <td>8</td>
 <td>-65.0</td>
 <td>894.0</td>
 </tr>,
 <tr class="data-row">
 <td>42</td>
 <td>2012-12-23</td>
 <td>136</td>
 <td>230</td>
 <td>8</td>
 <td>-65.0</td>
 <td>897.0</td>
 </tr>,
 <tr class="data-row">
 <td>43</td>
 <td>2012-12-24</td>
 <td>137</td>
 <td>231</td>
 <td>8</td>
 <td>-64.0</td>
 <td>896.0</td>
 </tr>,
 <tr class="data-row">
 <td>44</td>
 <td>2012-12-25</td>
 <td>138</td>
 <td>232</td>
 <td>8</td>
 <td>-65.0</td>
 <td>899.0</td>
 </tr>,
 <tr class="data-row">
 <td>45</td>
 <td>2012-12-26</td>
 <td>139</td>
 <td>232</td>
 <td>8</td>
 <td>-66.0</td>
 <td>899.0</td>
 </tr>,
 <tr class="data-row">
 <td>47</td>
 <td>2012-12-27</td>
 <td>140</td>
 <td>233</td>
 <td>8</td>
 <td>-66.0</td>
 <td>903.0</td>
 </tr>,
 <tr class="data-row">
 <td>48</td>
 <td>2012-12-28</td>
 <td>141</td>
 <td>233</td>
 <td>8</td>
 <td>-64.0</td>
 <td>904.0</td>
 </tr>,
 <tr class="data-row">
 <td>49</td>
 <td>2012-12-29</td>
 <td>142</td>
 <td>234</td>
 <td>8</td>
 <td>-65.0</td>
 <td>906.0</td>
 </tr>,
 <tr class="data-row">
 <td>50</td>
 <td>2012-12-31</td>
 <td>143</td>
 <td>235</td>
 <td>8</td>
 <td>-63.0</td>
 <td>908.0</td>
 </tr>,
 <tr class="data-row">
 <td>51</td>
 <td>2013-01-01</td>
 <td>144</td>
 <td>235</td>
 <td>8</td>
 <td>-64.0</td>
 <td>907.0</td>
 </tr>,
 <tr class="data-row">
 <td>52</td>
 <td>2013-01-02</td>
 <td>145</td>
 <td>236</td>
 <td>8</td>
 <td>-64.0</td>
 <td>909.0</td>
 </tr>,
 <tr class="data-row">
 <td>53</td>
 <td>2013-01-03</td>
 <td>146</td>
 <td>237</td>
 <td>8</td>
 <td>-65.0</td>
 <td>908.0</td>
 </tr>,
 <tr class="data-row">
 <td>54</td>
 <td>2013-01-04</td>
 <td>147</td>
 <td>237</td>
 <td>8</td>
 <td>-65.0</td>
 <td>914.0</td>
 </tr>,
 <tr class="data-row">
 <td>55</td>
 <td>2013-01-05</td>
 <td>148</td>
 <td>238</td>
 <td>8</td>
 <td>-65.0</td>
 <td>912.0</td>
 </tr>,
 <tr class="data-row">
 <td>56</td>
 <td>2013-01-06</td>
 <td>149</td>
 <td>239</td>
 <td>8</td>
 <td>-65.0</td>
 <td>914.0</td>
 </tr>,
 <tr class="data-row">
 <td>58</td>
 <td>2013-01-07</td>
 <td>150</td>
 <td>239</td>
 <td>8</td>
 <td>-64.0</td>
 <td>913.0</td>
 </tr>,
 <tr class="data-row">
 <td>59</td>
 <td>2013-01-08</td>
 <td>151</td>
 <td>240</td>
 <td>9</td>
 <td>-65.0</td>
 <td>915.0</td>
 </tr>,
 <tr class="data-row">
 <td>60</td>
 <td>2013-01-09</td>
 <td>152</td>
 <td>241</td>
 <td>9</td>
 <td>-63.0</td>
 <td>914.0</td>
 </tr>,
 <tr class="data-row">
 <td>61</td>
 <td>2013-01-10</td>
 <td>153</td>
 <td>241</td>
 <td>9</td>
 <td>-65.0</td>
 <td>915.0</td>
 </tr>,
 <tr class="data-row">
 <td>62</td>
 <td>2013-01-11</td>
 <td>154</td>
 <td>242</td>
 <td>9</td>
 <td>-65.0</td>
 <td>917.0</td>
 </tr>,
 <tr class="data-row">
 <td>63</td>
 <td>2013-01-12</td>
 <td>155</td>
 <td>243</td>
 <td>9</td>
 <td>-64.0</td>
 <td>917.0</td>
 </tr>,
 <tr class="data-row">
 <td>64</td>
 <td>2013-01-13</td>
 <td>156</td>
 <td>243</td>
 <td>9</td>
 <td>-65.0</td>
 <td>922.0</td>
 </tr>,
 <tr class="data-row">
 <td>65</td>
 <td>2013-01-14</td>
 <td>157</td>
 <td>244</td>
 <td>9</td>
 <td>-64.0</td>
 <td>920.0</td>
 </tr>,
 <tr class="data-row">
 <td>66</td>
 <td>2013-01-15</td>
 <td>158</td>
 <td>245</td>
 <td>9</td>
 <td>-66.0</td>
 <td>922.0</td>
 </tr>,
 <tr class="data-row">
 <td>67</td>
 <td>2013-01-16</td>
 <td>159</td>
 <td>245</td>
 <td>9</td>
 <td>-65.0</td>
 <td>918.0</td>
 </tr>,

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Here’s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [7]:
# Create an empty list
data_list = []
# Loop through the scraped data to create a list of rows
for data in all_data:
    #getting all values in rows
    raw_values = data.find_all('td')
    
    #list comprehension
    values = [data.text.strip() for data in raw_values]
    
    data_dict = {
        "ID" : values[0],
        "terrestrial_date" : values[1],
        "sol" : values[2],
        "ls" : values[3],
        "month" : values[4],
        "min_temp" : values[5],
        "pressure" : values[6]   
    }
    
    data_list.append(data_dict)

In [8]:
data_list

[{'ID': '2',
  'terrestrial_date': '2012-08-16',
  'sol': '10',
  'ls': '155',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '739.0'},
 {'ID': '13',
  'terrestrial_date': '2012-08-17',
  'sol': '11',
  'ls': '156',
  'month': '6',
  'min_temp': '-76.0',
  'pressure': '740.0'},
 {'ID': '24',
  'terrestrial_date': '2012-08-18',
  'sol': '12',
  'ls': '156',
  'month': '6',
  'min_temp': '-76.0',
  'pressure': '741.0'},
 {'ID': '35',
  'terrestrial_date': '2012-08-19',
  'sol': '13',
  'ls': '157',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '732.0'},
 {'ID': '46',
  'terrestrial_date': '2012-08-20',
  'sol': '14',
  'ls': '157',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '740.0'},
 {'ID': '57',
  'terrestrial_date': '2012-08-21',
  'sol': '15',
  'ls': '158',
  'month': '6',
  'min_temp': '-78.0',
  'pressure': '740.0'},
 {'ID': '68',
  'terrestrial_date': '2012-08-22',
  'sol': '16',
  'ls': '158',
  'month': '6',
  'min_temp': '-77.0',
  'pressure': '740.0'},
 {'ID': '79',
  'terrestrial_date': '2012-08-23',
  'sol': '17',
  'ls': '159',
  'month': '6',
  'min_temp': '-76.0',
  'pressure': '742.0'},
 {'ID': '112',
  'terrestrial_date': '2012-08-27',
  'sol': '21',
  'ls': '161',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '741.0'},
 {'ID': '114',
  'terrestrial_date': '2012-08-28',
  'sol': '22',
  'ls': '162',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '742.0'},
 {'ID': '123',
  'terrestrial_date': '2012-08-29',
  'sol': '23',
  'ls': '162',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '741.0'},
 {'ID': '134',
  'terrestrial_date': '2012-08-30',
  'sol': '24',
  'ls': '163',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '742.0'},
 {'ID': '145',
  'terrestrial_date': '2012-08-31',
  'sol': '25',
  'ls': '163',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '743.0'},
 {'ID': '156',
  'terrestrial_date': '2012-09-01',
  'sol': '26',
  'ls': '164',
  'month': '6',
  'min_temp': '-76.0',
  'pressure': '745.0'},
 {'ID': '163',
  'terrestrial_date': '2012-09-02',
  'sol': '27',
  'ls': '164',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '743.0'},
 {'ID': '170',
  'terrestrial_date': '2012-09-03',
  'sol': '28',
  'ls': '165',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '745.0'},
 {'ID': '171',
  'terrestrial_date': '2012-09-04',
  'sol': '29',
  'ls': '166',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '747.0'},
 {'ID': '172',
  'terrestrial_date': '2012-09-05',
  'sol': '30',
  'ls': '166',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '747.0'},
 {'ID': '173',
  'terrestrial_date': '2012-09-06',
  'sol': '31',
  'ls': '167',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '745.0'},
 {'ID': '175',
  'terrestrial_date': '2012-09-08',
  'sol': '33',
  'ls': '168',
  'month': '6',
  'min_temp': '-73.0',
  'pressure': '748.0'},
 {'ID': '176',
  'terrestrial_date': '2012-09-10',
  'sol': '34',
  'ls': '168',
  'month': '6',
  'min_temp': '-73.0',
  'pressure': '748.0'},
 {'ID': '177',
  'terrestrial_date': '2012-09-11',
  'sol': '35',
  'ls': '169',
  'month': '6',
  'min_temp': '-73.0',
  'pressure': '749.0'},
 {'ID': '178',
  'terrestrial_date': '2012-09-12',
  'sol': '36',
  'ls': '169',
  'month': '6',
  'min_temp': '-73.0',
  'pressure': '750.0'},
 {'ID': '179',
  'terrestrial_date': '2012-09-13',
  'sol': '37',
  'ls': '170',
  'month': '6',
  'min_temp': '-73.0',
  'pressure': '750.0'},
 {'ID': '180',
  'terrestrial_date': '2012-09-14',
  'sol': '38',
  'ls': '171',
  'month': '6',
  'min_temp': '-73.0',
  'pressure': '750.0'},
 {'ID': '181',
  'terrestrial_date': '2012-09-15',
  'sol': '39',
  'ls': '171',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '751.0'},
 {'ID': '182',
  'terrestrial_date': '2012-09-16',
  'sol': '40',
  'ls': '172',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '753.0'},
 {'ID': '183',
  'terrestrial_date': '2012-09-17',
  'sol': '41',
  'ls': '172',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '753.0'},
 {'ID': '184',
  'terrestrial_date': '2012-09-18',
  'sol': '42',
  'ls': '173',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '754.0'},
 {'ID': '185',
  'terrestrial_date': '2012-09-19',
  'sol': '43',
  'ls': '173',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '756.0'},
 {'ID': '186',
  'terrestrial_date': '2012-09-20',
  'sol': '44',
  'ls': '174',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '757.0'},
 {'ID': '187',
  'terrestrial_date': '2012-09-21',
  'sol': '45',
  'ls': '175',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '758.0'},
 {'ID': '188',
  'terrestrial_date': '2012-09-22',
  'sol': '46',
  'ls': '175',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '758.0'},
 {'ID': '189',
  'terrestrial_date': '2012-09-23',
  'sol': '47',
  'ls': '176',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '758.0'},
 {'ID': '190',
  'terrestrial_date': '2012-09-24',
  'sol': '48',
  'ls': '176',
  'month': '6',
  'min_temp': '-75.0',
  'pressure': '759.0'},
 {'ID': '191',
  'terrestrial_date': '2012-09-25',
  'sol': '49',
  'ls': '177',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '761.0'},
 {'ID': '192',
  'terrestrial_date': '2012-09-26',
  'sol': '50',
  'ls': '177',
  'month': '6',
  'min_temp': '-72.0',
  'pressure': '761.0'},
 {'ID': '193',
  'terrestrial_date': '2012-09-27',
  'sol': '51',
  'ls': '178',
  'month': '6',
  'min_temp': '-76.0',
  'pressure': '762.0'},
 {'ID': '194',
  'terrestrial_date': '2012-09-28',
  'sol': '52',
  'ls': '179',
  'month': '6',
  'min_temp': '-74.0',
  'pressure': '762.0'},
 {'ID': '195',
  'terrestrial_date': '2012-09-29',
  'sol': '53',
  'ls': '179',
  'month': '6',
  'min_temp': '-71.0',
  'pressure': '764.0'},
 {'ID': '196',
  'terrestrial_date': '2012-09-30',
  'sol': '54',
  'ls': '180',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '766.0'},
 {'ID': '197',
  'terrestrial_date': '2012-10-01',
  'sol': '55',
  'ls': '180',
  'month': '7',
  'min_temp': '-74.0',
  'pressure': '766.0'},
 {'ID': '198',
  'terrestrial_date': '2012-10-02',
  'sol': '56',
  'ls': '181',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '768.0'},
 {'ID': '199',
  'terrestrial_date': '2012-10-03',
  'sol': '57',
  'ls': '181',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '769.0'},
 {'ID': '200',
  'terrestrial_date': '2012-10-04',
  'sol': '58',
  'ls': '182',
  'month': '7',
  'min_temp': '-74.0',
  'pressure': '769.0'},
 {'ID': '201',
  'terrestrial_date': '2012-10-05',
  'sol': '59',
  'ls': '183',
  'month': '7',
  'min_temp': '-76.0',
  'pressure': '771.0'},
 {'ID': '202',
  'terrestrial_date': '2012-10-06',
  'sol': '60',
  'ls': '183',
  'month': '7',
  'min_temp': '-75.0',
  'pressure': '772.0'},
 {'ID': '203',
  'terrestrial_date': '2012-10-07',
  'sol': '61',
  'ls': '184',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '772.0'},
 {'ID': '204',
  'terrestrial_date': '2012-10-08',
  'sol': '62',
  'ls': '184',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '774.0'},
 {'ID': '205',
  'terrestrial_date': '2012-10-09',
  'sol': '63',
  'ls': '185',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '775.0'},
 {'ID': '206',
  'terrestrial_date': '2012-10-10',
  'sol': '64',
  'ls': '186',
  'month': '7',
  'min_temp': '-74.0',
  'pressure': '776.0'},
 {'ID': '207',
  'terrestrial_date': '2012-10-11',
  'sol': '65',
  'ls': '186',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '777.0'},
 {'ID': '208',
  'terrestrial_date': '2012-10-12',
  'sol': '66',
  'ls': '187',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '778.0'},
 {'ID': '209',
  'terrestrial_date': '2012-10-13',
  'sol': '67',
  'ls': '187',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '780.0'},
 {'ID': '210',
  'terrestrial_date': '2012-10-14',
  'sol': '68',
  'ls': '188',
  'month': '7',
  'min_temp': '-71.0',
  'pressure': '781.0'},
 {'ID': '211',
  'terrestrial_date': '2012-10-15',
  'sol': '69',
  'ls': '189',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '778.0'},
 {'ID': '212',
  'terrestrial_date': '2012-10-17',
  'sol': '70',
  'ls': '189',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '783.0'},
 {'ID': '213',
  'terrestrial_date': '2012-10-18',
  'sol': '71',
  'ls': '190',
  'month': '7',
  'min_temp': '-71.0',
  'pressure': '784.0'},
 {'ID': '214',
  'terrestrial_date': '2012-10-19',
  'sol': '72',
  'ls': '190',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '785.0'},
 {'ID': '215',
  'terrestrial_date': '2012-10-20',
  'sol': '73',
  'ls': '191',
  'month': '7',
  'min_temp': '-70.0',
  'pressure': '788.0'},
 {'ID': '216',
  'terrestrial_date': '2012-10-21',
  'sol': '74',
  'ls': '192',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '790.0'},
 {'ID': '217',
  'terrestrial_date': '2012-10-22',
  'sol': '75',
  'ls': '192',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '791.0'},
 {'ID': '218',
  'terrestrial_date': '2012-10-23',
  'sol': '76',
  'ls': '193',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '792.0'},
 {'ID': '219',
  'terrestrial_date': '2012-10-24',
  'sol': '77',
  'ls': '193',
  'month': '7',
  'min_temp': '-71.0',
  'pressure': '792.0'},
 {'ID': '220',
  'terrestrial_date': '2012-10-25',
  'sol': '78',
  'ls': '194',
  'month': '7',
  'min_temp': '-71.0',
  'pressure': '793.0'},
 {'ID': '221',
  'terrestrial_date': '2012-10-26',
  'sol': '79',
  'ls': '195',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '795.0'},
 {'ID': '222',
  'terrestrial_date': '2012-10-27',
  'sol': '80',
  'ls': '195',
  'month': '7',
  'min_temp': '-70.0',
  'pressure': '796.0'},
 {'ID': '223',
  'terrestrial_date': '2012-10-28',
  'sol': '81',
  'ls': '196',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '798.0'},
 {'ID': '224',
  'terrestrial_date': '2012-10-29',
  'sol': '82',
  'ls': '196',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '799.0'},
 {'ID': '225',
  'terrestrial_date': '2012-10-30',
  'sol': '83',
  'ls': '197',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '801.0'},
 {'ID': '226',
  'terrestrial_date': '2012-10-31',
  'sol': '84',
  'ls': '198',
  'month': '7',
  'min_temp': '-70.0',
  'pressure': '801.0'},
 {'ID': '227',
  'terrestrial_date': '2012-11-01',
  'sol': '85',
  'ls': '198',
  'month': '7',
  'min_temp': '-71.0',
  'pressure': '805.0'},
 {'ID': '228',
  'terrestrial_date': '2012-11-02',
  'sol': '86',
  'ls': '199',
  'month': '7',
  'min_temp': '-71.0',
  'pressure': '808.0'},
 {'ID': '229',
  'terrestrial_date': '2012-11-03',
  'sol': '87',
  'ls': '199',
  'month': '7',
  'min_temp': '-70.0',
  'pressure': '808.0'},
 {'ID': '230',
  'terrestrial_date': '2012-11-04',
  'sol': '88',
  'ls': '200',
  'month': '7',
  'min_temp': '-70.0',
  'pressure': '811.0'},
 {'ID': '231',
  'terrestrial_date': '2012-11-05',
  'sol': '89',
  'ls': '201',
  'month': '7',
  'min_temp': '-73.0',
  'pressure': '813.0'},
 {'ID': '233',
  'terrestrial_date': '2012-11-06',
  'sol': '90',
  'ls': '201',
  'month': '7',
  'min_temp': '-71.0',
  'pressure': '813.0'},
 {'ID': '234',
  'terrestrial_date': '2012-11-07',
  'sol': '91',
  'ls': '202',
  'month': '7',
  'min_temp': '-74.0',
  'pressure': '817.0'},
 {'ID': '235',
  'terrestrial_date': '2012-11-08',
  'sol': '92',
  'ls': '202',
  'month': '7',
  'min_temp': '-74.0',
  'pressure': '820.0'},
 {'ID': '236',
  'terrestrial_date': '2012-11-09',
  'sol': '93',
  'ls': '203',
  'month': '7',
  'min_temp': '-72.0',
  'pressure': '819.0'},
 {'ID': '237',
  'terrestrial_date': '2012-11-10',
  'sol': '94',
  'ls': '204',
  'month': '7',
  'min_temp': '-70.0',
  'pressure': '822.0'},
 {'ID': '238',
  'terrestrial_date': '2012-11-11',
  'sol': '95',
  'ls': '204',
  'month': '7',
  'min_temp': '-68.0',
  'pressure': '822.0'},
 {'ID': '239',
  'terrestrial_date': '2012-11-12',
  'sol': '96',
  'ls': '205',
  'month': '7',
  'min_temp': '-71.0',
  'pressure': '826.0'},
 {'ID': '240',
  'terrestrial_date': '2012-11-13',
  'sol': '97',
  'ls': '206',
  'month': '7',
  'min_temp': '-68.0',
  'pressure': '828.0'},
 {'ID': '241',
  'terrestrial_date': '2012-11-14',
  'sol': '98',
  'ls': '206',
  'month': '7',
  'min_temp': '-68.0',
  'pressure': '828.0'},
 {'ID': '242',
  'terrestrial_date': '2012-11-15',
  'sol': '99',
  'ls': '207',
  'month': '7',
  'min_temp': '-68.0',
  'pressure': '829.0'},
 {'ID': '3',
  'terrestrial_date': '2012-11-16',
  'sol': '100',
  'ls': '207',
  'month': '7',
  'min_temp': '-66.0',
  'pressure': '829.0'},
 {'ID': '4',
  'terrestrial_date': '2012-11-17',
  'sol': '101',
  'ls': '208',
  'month': '7',
  'min_temp': '-65.0',
  'pressure': '830.0'},
 {'ID': '5',
  'terrestrial_date': '2012-11-18',
  'sol': '102',
  'ls': '209',
  'month': '7',
  'min_temp': '-67.0',
  'pressure': '833.0'},
 {'ID': '6',
  'terrestrial_date': '2012-11-19',
  'sol': '103',
  'ls': '209',
  'month': '7',
  'min_temp': '-66.0',
  'pressure': '836.0'},
 {'ID': '7',
  'terrestrial_date': '2012-11-20',
  'sol': '104',
  'ls': '210',
  'month': '8',
  'min_temp': '-67.0',
  'pressure': '838.0'},
 {'ID': '8',
  'terrestrial_date': '2012-11-21',
  'sol': '105',
  'ls': '211',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '839.0'},
 {'ID': '9',
  'terrestrial_date': '2012-11-23',
  'sol': '106',
  'ls': '211',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '841.0'},
 {'ID': '10',
  'terrestrial_date': '2012-11-24',
  'sol': '107',
  'ls': '212',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '844.0'},
 {'ID': '11',
  'terrestrial_date': '2012-11-25',
  'sol': '108',
  'ls': '212',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '845.0'},
 {'ID': '12',
  'terrestrial_date': '2012-11-26',
  'sol': '109',
  'ls': '213',
  'month': '8',
  'min_temp': '-64.0',
  'pressure': '844.0'},
 {'ID': '14',
  'terrestrial_date': '2012-11-27',
  'sol': '110',
  'ls': '214',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '848.0'},
 {'ID': '15',
  'terrestrial_date': '2012-11-28',
  'sol': '111',
  'ls': '214',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '849.0'},
 {'ID': '16',
  'terrestrial_date': '2012-11-29',
  'sol': '112',
  'ls': '215',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '852.0'},
 {'ID': '17',
  'terrestrial_date': '2012-11-30',
  'sol': '113',
  'ls': '216',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '857.0'},
 {'ID': '18',
  'terrestrial_date': '2012-12-01',
  'sol': '114',
  'ls': '216',
  'month': '8',
  'min_temp': '-69.0',
  'pressure': '857.0'},
 {'ID': '19',
  'terrestrial_date': '2012-12-02',
  'sol': '115',
  'ls': '217',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '857.0'},
 {'ID': '20',
  'terrestrial_date': '2012-12-03',
  'sol': '116',
  'ls': '217',
  'month': '8',
  'min_temp': '-67.0',
  'pressure': '859.0'},
 {'ID': '21',
  'terrestrial_date': '2012-12-04',
  'sol': '117',
  'ls': '218',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '861.0'},
 {'ID': '22',
  'terrestrial_date': '2012-12-05',
  'sol': '118',
  'ls': '219',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '864.0'},
 {'ID': '23',
  'terrestrial_date': '2012-12-06',
  'sol': '119',
  'ls': '219',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '866.0'},
 {'ID': '25',
  'terrestrial_date': '2012-12-07',
  'sol': '120',
  'ls': '220',
  'month': '8',
  'min_temp': '-67.0',
  'pressure': '867.0'},
 {'ID': '26',
  'terrestrial_date': '2012-12-08',
  'sol': '121',
  'ls': '221',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '869.0'},
 {'ID': '27',
  'terrestrial_date': '2012-12-09',
  'sol': '122',
  'ls': '221',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '869.0'},
 {'ID': '28',
  'terrestrial_date': '2012-12-10',
  'sol': '123',
  'ls': '222',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '875.0'},
 {'ID': '29',
  'terrestrial_date': '2012-12-11',
  'sol': '124',
  'ls': '223',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '876.0'},
 {'ID': '30',
  'terrestrial_date': '2012-12-12',
  'sol': '125',
  'ls': '223',
  'month': '8',
  'min_temp': '-68.0',
  'pressure': '880.0'},
 {'ID': '31',
  'terrestrial_date': '2012-12-13',
  'sol': '126',
  'ls': '224',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '880.0'},
 {'ID': '32',
  'terrestrial_date': '2012-12-14',
  'sol': '127',
  'ls': '224',
  'month': '8',
  'min_temp': '-67.0',
  'pressure': '884.0'},
 {'ID': '33',
  'terrestrial_date': '2012-12-15',
  'sol': '128',
  'ls': '225',
  'month': '8',
  'min_temp': '-67.0',
  'pressure': '883.0'},
 {'ID': '34',
  'terrestrial_date': '2012-12-16',
  'sol': '129',
  'ls': '226',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '886.0'},
 {'ID': '36',
  'terrestrial_date': '2012-12-17',
  'sol': '130',
  'ls': '226',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '888.0'},
 {'ID': '37',
  'terrestrial_date': '2012-12-18',
  'sol': '131',
  'ls': '227',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '889.0'},
 {'ID': '38',
  'terrestrial_date': '2012-12-19',
  'sol': '132',
  'ls': '228',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '890.0'},
 {'ID': '39',
  'terrestrial_date': '2012-12-20',
  'sol': '133',
  'ls': '228',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '891.0'},
 {'ID': '40',
  'terrestrial_date': '2012-12-21',
  'sol': '134',
  'ls': '229',
  'month': '8',
  'min_temp': '-67.0',
  'pressure': '893.0'},
 {'ID': '41',
  'terrestrial_date': '2012-12-22',
  'sol': '135',
  'ls': '230',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '894.0'},
 {'ID': '42',
  'terrestrial_date': '2012-12-23',
  'sol': '136',
  'ls': '230',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '897.0'},
 {'ID': '43',
  'terrestrial_date': '2012-12-24',
  'sol': '137',
  'ls': '231',
  'month': '8',
  'min_temp': '-64.0',
  'pressure': '896.0'},
 {'ID': '44',
  'terrestrial_date': '2012-12-25',
  'sol': '138',
  'ls': '232',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '899.0'},
 {'ID': '45',
  'terrestrial_date': '2012-12-26',
  'sol': '139',
  'ls': '232',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '899.0'},
 {'ID': '47',
  'terrestrial_date': '2012-12-27',
  'sol': '140',
  'ls': '233',
  'month': '8',
  'min_temp': '-66.0',
  'pressure': '903.0'},
 {'ID': '48',
  'terrestrial_date': '2012-12-28',
  'sol': '141',
  'ls': '233',
  'month': '8',
  'min_temp': '-64.0',
  'pressure': '904.0'},
 {'ID': '49',
  'terrestrial_date': '2012-12-29',
  'sol': '142',
  'ls': '234',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '906.0'},
 {'ID': '50',
  'terrestrial_date': '2012-12-31',
  'sol': '143',
  'ls': '235',
  'month': '8',
  'min_temp': '-63.0',
  'pressure': '908.0'},
 {'ID': '51',
  'terrestrial_date': '2013-01-01',
  'sol': '144',
  'ls': '235',
  'month': '8',
  'min_temp': '-64.0',
  'pressure': '907.0'},
 {'ID': '52',
  'terrestrial_date': '2013-01-02',
  'sol': '145',
  'ls': '236',
  'month': '8',
  'min_temp': '-64.0',
  'pressure': '909.0'},
 {'ID': '53',
  'terrestrial_date': '2013-01-03',
  'sol': '146',
  'ls': '237',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '908.0'},
 {'ID': '54',
  'terrestrial_date': '2013-01-04',
  'sol': '147',
  'ls': '237',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '914.0'},
 {'ID': '55',
  'terrestrial_date': '2013-01-05',
  'sol': '148',
  'ls': '238',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '912.0'},
 {'ID': '56',
  'terrestrial_date': '2013-01-06',
  'sol': '149',
  'ls': '239',
  'month': '8',
  'min_temp': '-65.0',
  'pressure': '914.0'},
 {'ID': '58',
  'terrestrial_date': '2013-01-07',
  'sol': '150',
  'ls': '239',
  'month': '8',
  'min_temp': '-64.0',
  'pressure': '913.0'},
 {'ID': '59',
  'terrestrial_date': '2013-01-08',
  'sol': '151',
  'ls': '240',
  'month': '9',
  'min_temp': '-65.0',
  'pressure': '915.0'},
 {'ID': '60',
  'terrestrial_date': '2013-01-09',
  'sol': '152',
  'ls': '241',
  'month': '9',
  'min_temp': '-63.0',
  'pressure': '914.0'},

In [9]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
df = pd.DataFrame(data_list)

In [10]:
# Confirm DataFrame was created successfully
df.head()

   ID terrestrial_date sol   ls month min_temp pressure
0   2       2012-08-16  10  155     6    -75.0    739.0
1  13       2012-08-17  11  156     6    -76.0    740.0
2  24       2012-08-18  12  156     6    -76.0    741.0
3  35       2012-08-19  13  157     6    -74.0    732.0
4  46       2012-08-20  14  157     6    -74.0    740.0

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [11]:
# Examine data type of each column
df.dtypes

ID                  object
terrestrial_date    object
sol                 object
ls                  object
month               object
min_temp            object
pressure            object
dtype: object

In [12]:
# Change data types for data analysis
df['ID'] = df["ID"].astype(int)
df["terrestrial_date"] = df["terrestrial_date"].astype('datetime64[ns]')
df['sol'] = df["sol"].astype(int)
df['ls'] = df['ls'].astype(int)
df["month"] = df["month"].astype(int)
df['min_temp'] = df['min_temp'].astype(float)
df['pressure'] = df['pressure'].astype(float)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1867 non-null   int32
 1   terrestrial_date  1867 non-null   datetime64[ns]
 2   sol               1867 non-null   int32
 3   ls                1867 non-null   int32
 4   month             1867 non-null   int32
 5   min_temp          1867 non-null   float64
 6   pressure          1867 non-null   float64
dtypes: datetime64[ns](1), float64(2), int32(4)
memory usage: 73.1 KB

In [14]:
# Confirm type changes were successful by examining data types again
df.dtypes

ID                           int32
terrestrial_date    datetime64[ns]
sol                          int32
ls                           int32
month                        int32
min_temp                   float64
pressure                   float64
dtype: object

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [26]:
# 1. How many months are there on Mars?
months_onmars = df['month'].max()
months_onmars

12

In [48]:
# 2. How many Martian days' worth of data are there
date_query = """ 
            SELECT COUNT(terrestrial_date) AS Martian_days 
            FROM df
            """
result = sqldf(date_query)

print(result)

   Martian_days
0          1867

In [51]:
# 3. What is the average low temperature by month?
monthly_average = """
                SELECT month, AVG(min_temp) AS Average_low_temp
                FROM df 
                GROUP BY month
                ORDER BY month
                """

result = sqldf(monthly_average)

print(result)

    month  Average_low_temp
0       1        -77.160920
1       2        -79.932584
2       3        -83.307292
3       4        -82.747423
4       5        -79.308725
5       6        -75.299320
6       7        -72.281690
7       8        -68.382979
8       9        -69.171642
9      10        -71.982143
10     11        -71.985507
11     12        -74.451807

In [63]:
# Plot the average temperature by month

In [49]:
# Identify the coldest and hottest months in Curiosity's location

   Coldest_month  Hottest_month
0          -90.0          -62.0

In [52]:
# 4. Average pressure by Martian month
average_pressure = """
                SELECT month, AVG(pressure) AS Average_pressure
                FROM df 
                GROUP BY month
                ORDER BY month
                """

result = sqldf(average_pressure)

print(result)

    month  Average_pressure
0       1        862.488506
1       2        889.455056
2       3        877.322917
3       4        806.329897
4       5        748.557047
5       6        745.054422
6       7        795.105634
7       8        873.829787
8       9        913.305970
9      10        887.312500
10     11        857.014493
11     12        842.156627

In [21]:
# Plot the average pressure by month

In [22]:
# 5. How many terrestrial (earth) days are there in a Martian year?

On average, the third month has the coldest minimum temperature on Mars, and the eighth month is the warmest. But it is always very cold there in human terms!

Atmospheric pressure is, on average, lowest in the sixth month and highest in the ninth.

The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. Internet search confirms that a Mars year is equivalent to 687 earth days.

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [23]:
# Write the data to a CSV

In [24]:
browser.quit()